<div class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="footer__text">
                        <h3 class="heading footer__heading">Intersted to woek
                            with our team?</h3>
                        <p class="text text__footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam.</p>

                    </div>
                    <a href="#" class="footer__button">Let's Talk</a>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="footer__bottom">
                    <ul class="footer__info">
                        <li class="footer__list">Lorem ipsum dolor sit.</li>
                        <li class="footer__list">+79855677823</li>
                        <li class="footer__list">email@mail.ru</li>
                    </ul>
                    <div class="footer__copy">
                        <p class="text footer__copy-text">&copy;Все права защищены</p>
                    </div>
                </div>
            </div>
        </div>
    </div>