<style type="text/css">
			* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  width: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  max-height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__text {
  width: 425px;
}

.heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
}

.heading-mini {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.what-we-do {
  padding-top: 64px;
}

.top__info {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(img/top__back.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

.top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__img {
  width: 100%;
}

.project__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.project__item_margin {
  margin-right: 32px;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__text_mini {
  right: auto;
  left: 32px;
  top: 32px;
  text-align: left;
}

.top__heading {
  width: 510px;
  font-size: 64px;
  font-weight: 300;
  color: #1F3F68;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.card .text {
  width: 268.31px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.header li {
  padding: 5px;
  margin: 5px;
  display: inline;
}

.low_head {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  width: 359px;
  padding: 44px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.card__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.adress {
  font-size: 36px;
  text-align: center;
}

.messages {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
}

.insert {
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.sends {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.footer {
  background: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
}

.footer__top {
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__text {
  width: 495px;
}

.footer__heading {
  width: 340px;
  text-align: left;
  color: #fff;
  margin-bottom: 32px;
}

.text__footer {
  color: #FFFFFF;
}

.footer__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 00.04em;
  color: #FFFFFF;
  padding: 15px 80px;
  background: #5A98D0;
  text-decoration: none;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 64px;
}

.footer__list {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 00.05em;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.3333;
      flex-basis: 33.3333;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
}

.footer__list:first-child::before {
  content: 'A.';
  display: block;
  margin-right: 16px;
}

.footer__list:nth-child(2):before {
  content: 'T.';
  display: block;
  margin-right: 16px;
}

.footer__list:last-child::before {
  content: 'E.';
  display: block;
  margin-right: 16px;
}

.footer__copy {
  margin-top: 64px;
}

.footer__copy-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 00.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 60px;
  }
  .top__info {
    background-position: right 280px;
  }
  .card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    margin-bottom: 32px;
  }
  .footer {
    padding-top: 48px;
  }
  .footer__button {
    padding: 4px 31px;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list {
    margin-bottom: 24px;
  }
}

@media (max-width: 667px) {
  .header {
    padding-top: 24px;
  }
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top__info {
    padding-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
  .top__heading {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .top__text {
    width: 100%;
    text-align: center;
  }
  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }
  .heading {
    font-size: 24px;
    line-height: 28px;
  }
  .card-box {
    padding-top: 32px;
  }
  .what-we-do {
    padding-top: 48px;
  }
  .card {
    width: 100%;
  }
  .text_project {
    width: 100%;
  }
  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
  .project__text_mini {
    left: 16px;
  }
  .project__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }
  .project__item_margin {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer {
    padding-top: 18px;
    padding-bottom: 32px;
  }
  .footer__copy {
    margin-top: 32px;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 41px;
  }
  .footer__text {
    width: 100%;
  }
  .footer__heading {
    width: 75%;
    margin: 0 auto 32px;
  }
  .heading {
    font-size: 24px;
    line-height: 28px;
  }
  .footer__list {
    margin-bottom: 18px;
  }
  .footer__copy {
    margin-top: 32px;
  }
}

body {
				font-family: Arial, Verdana, sans-serif;
				font-size: 90%;
				color: #666;
				background-color: #f8f8f8;}
			li {
				list-style-image: url("images/icon-plus.png");
				line-height: 1.6em;}
			table {
				border-spacing: 0px;}
			th, td {
				padding: 5px 30px 5px 10px;
				border-spacing: 0px;
				font-size: 90%;
				margin: 0px;}
			th, td {
				text-align: left;
				background-color: #e0e9f0;
				border-top: 1px solid #f1f8fe;
				border-bottom: 1px solid #cbd2d8;
				border-right: 1px solid #cbd2d8;}
			tr.head th {
				color: #fff;
				background-color: #90b4d6;
				border-bottom: 2px solid #547ca0;
				border-right: 1px solid #749abe;
				border-top: 1px solid #90b4d6;
				text-align: center;
				text-shadow: -1px -1px 1px #666666;
				letter-spacing: 0.15em;}
			td {
				text-shadow: 1px 1px 1px #ffffff;}
			tr.even td, tr.even th {
				background-color: #e8eff5;}
			tr.head th:first-child {
				-webkit-border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;}
			tr.head th:last-child {
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;}
			fieldset {
				width: 310px;
				margin-top: 20px;
				border: 1px solid #d6d6d6;
				background-color: #ffffff;
				line-height: 1.6em;}
			legend {
				font-style: italic;
				color: #666666;}
			input[type="text"] {
				width: 120px;
				border: 1px solid #d6d6d6;
				padding: 2px;
				outline: none;}
			input[type="text"]:focus,
			input[type="text"]:hover {
				background-color: #d0e2f0;
				border: 1px solid #999999;}
			input[type="submit"] {
				border: 1px solid #006633;
				background-color: #009966;
				color: #ffffff;
				border-radius: 5px;
				padding: 5px;
				margin-top: 10px;}
			input[type="submit"]:hover {
				border: 1px solid #006633;
				background-color: #00CC33;
				color: #ffffff;
				cursor: pointer;}
			.title {
				float: left;
				width: 160px;
				clear: left;}
			.submit {
				width: 310px;
				text-align: right;}

		</style>